/*User Info*/
.panels__58331 {
    background-color: #181818;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 90px;
    border-radius: 0px;
    border-top: 1px solid #282828;
    z-index: 99;
    overflow: hidden scroll;
    padding-right: 5px;
}

.panels__58331::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.panels__58331::-webkit-scrollbar-corner {
    background-color: tranparent;
}

.panels__58331::-webkit-scrollbar-thumb,
.panels__58331::-webkit-scrollbar-track {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 8px;
}

.panels__58331 > .container_debb33 {
    z-index: 99;
    position: absolute;
    top: 5px;
    height: 35px;
    width: 225px;
    right: 5px;
    border-radius: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px;
    color: #fff !important;
}

.panels__58331 > .container_debb33 > .nameTag__77ab2 > .size12-oc4dx4 > .hoverRoll__3ea9e {
    display: none;
}

.panels__58331 > .container_debb33 > .nameTag__77ab2 > .subtext_ce73b4 {
    display: none;
}

.panels__58331:before {
    content: "No Song Playing...";
    font-size: 14px;
    text-align: center;
    color: #fff;
    padding: 0px 56px;
    position: relative;
    top: 45%;
    z-index: -1;
}

/*Call Buttons*/
.panels__58331 > .wrapper_e832ee > .container_e1958d {
    margin-top: -14px;
    background-color: #181818;
}

/*Channel List*/
.sidebar_e031be,
.container__7e23c {
    background: var(--background-primary) !important;
}

.wrapper__612a5:hover .wrapper__612a5 {
    background: #1a1a1a;
}

.wrapper__612a5:active .wrapper__612a5 {
    background: var(--background-primary);
}

.wrapper__612a5 {
    border-radius: 6px;
}

/*Chat Area*/
.chat__52833 {
    background: linear-gradient(180deg, var(--sc-gradient-color), var(--background-primary) 15%);
    border-radius: 8px;
}

.themed_b152d4,
.chatContent_f087cb {
    background: transparent !important;
}

.children_cde9af:after {
    display: none;
}

/*Members*/
.membersWrap__5ca6b {
    height: 100%;
}

.members__573eb {
    height: 90.15%;
    background: var(--background-primary);
    border-bottom: 1px #282828 solid;
}

.content__01e65 > .membersWrap__5ca6b {
    background: var(--background-secondary);
}

/*Activity Area*/
.activityPanel_b73e7a {
    position: fixed;
    bottom: 90px;
    background-color: #181818;
    width: 225px;
}

/*Text Area*/
.button_dd99ad[disabled] > .innerButton__9efb8 > .buttonChild_eaf65e,
.buttonChild_eaf65e {
    color: var(--interactive-normal);
}

.theme-dark .button_dd99ad:focus-within .activeButtonChild__58171,
.theme-dark .button_dd99ad:focus .activeButtonChild__58171,
.theme-dark .button_dd99ad:hover .activeButtonChild__58171 {
    color: var(--background-accent);
}

.base__06abc {
    bottom: 2px;
}

.form_d8a4a1 {
    background-color: #181818;
    min-height: 90px;
    border-top: 1px solid #282828;
    margin: 0;
}

.scrollableContainer_ff917f {
    border-radius: 23px;
}

.textAreaSlate__8578d {
    height: 44px !important;
}

.channelTextArea_c2094b {
    top: 20px;
    background-color: var(--channeltextarea-background);
    border-radius: 500px !important;
}

.wrapper__57349 {
    margin-top: 14px;
}

.attachedBars_c1606a {
    margin-top: -45px;
    margin-bottom: 25px;
    height: 20px;
}

.attachButtonInner__84c26 path {
    fill: var(--background-accent);
}

.attachButton__56f98:hover .attachButtonPlus_fd0021 {
    fill: #323232;
}

.button__437ce:hover,
.active_a5045e .buttonWrapper_bd4bd7,
.buttonWrapper_bd4bd7:hover {
    color: #323232;
}

.button_ae40a4.enabled__214db:hover {
    border-radius: 32px;
}

.replyBar_ed6afc,
.threadSuggestionBar__717a3,
.attachedBars_c1606a {
    background: var(--channeltextarea-background);
}

.replyBar_ed6afc {
    margin-top: 0;
}

.actions__7157e {
    height: 40px;
}

.theme-dark .autocomplete__743a5 {
    background-color: var(--background-secondary);
}

.theme-dark .form_d8a4a1:before {
    background: linear-gradient(180deg, rgba(54, 57, 63, 0) 0, #181818);
}

.inlineCode__0cacf,
.optionPill__618f2 {
    color: #fff;
}

/*Header*/
.toolbar__62fb5 {
    margin-right: 240px;
}

.title_d4ba1a {
    z-index: 1;
}

/*Search*/
.theme-dark .container__84c26 {
    background-color: var(--background-floating);
}

.option__91497 {
    width: 311.5px;
}

.option__91497:hover {
    width: 280px;
}

/*   Tiny Search-bar   */
.toolbar__62fb5 .search__07df0 {
    order: -1;
}

.toolbar__62fb5 .search__07df0 .iconContainer__9f124 {
    bottom: 4px;
}

.toolbar__62fb5 .search__07df0 .iconContainer__9f124 .icon__5c8c7 {
    transition: all 0.6s ease;
}

.toolbar__62fb5 .search__07df0 .search_ac353c:not(.open_d3ab4e) .searchBar__5a20a {
    width: 28px;
    transition: all 0.6s ease-in-out;
    background: none;
}

.toolbar__62fb5 .search__07df0 .search_ac353c:not(.open_d3ab4e) .searchBar__5a20a .icon__5c8c7 {
    color: var(--interactive-normal);
    height: 23px;
    width: 23px;
    margin-top: 1.76px;
}

.toolbar__62fb5 .search__07df0 .search_ac353c.open_d3ab4e .searchBar__5a20a {
    width: 240px;
    background: var(--background-tertiary);
    transition: all 0.6s ease-in-out;
}

.toolbar__62fb5 .search__07df0 .search_ac353c.open_d3ab4e .searchBar__5a20a .icon__5c8c7 {
    height: 16px;
    width: 16px;
    top: 4px;
}

.iconLayout__9d9a4 {
    cursor: pointer;
}

/*Create A Server and Public Servers*/
.lookBlank_a5b4ca {
    color: #fff;
}

/*Settings*/
.sidebarRegion__36437 {
    flex: 0;
}

.contentColumnDefault__78de3,
.contentColumnWide__146ec {
    margin: 0 auto;
}

.accountProfileCard__744d8 {
    max-width: none;
}

.notificationSettings-1U0JsJ {
    max-width: 45%;
}

.theme-dark .paymentPane__541d7,
.theme-dark .paginator__28ba5,
.theme-dark .payment_f27ac6,
.theme-dark .codeRedemptionRedirect-3SBiCp {
    background-color: var(--background-secondary);
}

.bioTextArea_f46f71 {
    background-color: var(--channeltextarea-background);
}
