/*Colors*/
.tabBody_c2739c {
    border-radius: 8px;
}

.container_c2739c {
    background: linear-gradient(180deg, var(--sc-gradient-color), transparent 25%);
    border-radius: 8px;
}

.peopleColumn_c2739c {
    background: transparent;
}

.nowPlayingColumn_c2739c,
.nowPlayingColumn_c2739c .container_bf550a {
    border-radius: 8px;
}

.theme-dark .root_f9a4c9 {
    background: var(--background-floating);
}

.privateChannels_f0963d,
.scroller_c47fa9 {
    background: var(--background-primary) !important;
}

.interactive_f5eb4b {
    border-radius: 6px;
}

.interactive_f5eb4b:hover {
    background: #1a1a1a;
}

.interactive_f5eb4b:active {
    background: hsla(0, 0%, 100%, 0.1);
}
