/*Colors*/
.tabBody_b3d268 {
    border-radius: 8px;
}

.container__5c7e7 {
    background: linear-gradient(180deg, var(--sc-gradient-color), transparent 25%);
    border-radius: 8px;
}

.peopleColumn__51df3 {
    background: transparent;
}

.nowPlayingColumn_f5023f,
.nowPlayingColumn_f5023f .container__0a6a9 {
    border-radius: 8px;
}

.theme-dark .root_a28985 {
    background: var(--background-floating);
}

.privateChannels__93473,
.scroller__4b984 {
    background: var(--background-primary) !important;
}

.interactive__776ee {
    border-radius: 6px;
}

.interactive__776ee:hover {
    background: #1a1a1a;
}

.interactive__776ee:active {
    background: hsla(0, 0%, 100%, 0.1);
}
