/*Colors*/
.tabBody__133bf {
    border-radius: 8px;
}

.container__133bf {
    background: linear-gradient(180deg, var(--sc-gradient-color), transparent 25%);
    border-radius: 8px;
}

.peopleColumn__133bf {
    background: transparent;
}

.nowPlayingColumn__133bf,
.nowPlayingColumn__133bf .container__7d20c {
    border-radius: 8px;
}

.theme-dark .root__49fc1 {
    background: var(--background-floating);
}

.privateChannels__35e86,
.scroller__99e7c {
    background: var(--background-primary) !important;
}

.interactive_bf202d {
    border-radius: 6px;
}

.interactive_bf202d:hover {
    background: #1a1a1a;
}

.interactive_bf202d:active {
    background: hsla(0, 0%, 100%, 0.1);
}
