/*Colors*/
.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background-color: var(--background-accent);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background-color: var(--background-accent);
}

.theme-dark .footer__89240 {
    background-color: var(--background-secondary);
}

/*Fixes*/
.textarea_c5a7a3[aria-label="Note"] {
    display: unset;
    color: var(--text-normal);
}
