/*Colors*/
.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background-color: var(--background-accent);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background-color: var(--background-accent);
}

.theme-dark .footer_e0b400 {
    background-color: var(--background-secondary);
}

/*Fixes*/
.textarea__0461c[aria-label="Note"] {
    display: unset;
    color: var(--text-normal);
}
