/*Colors*/
.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background-color: var(--background-accent);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background-color: var(--background-accent);
}

.theme-dark .footer_f9a4c9 {
    background-color: var(--background-secondary);
}

/*Fixes*/
.textarea_dde0a8[aria-label="Note"] {
    display: unset;
    color: var(--text-normal);
}
