/*Fixes*/

.peopleColumn_c2739c .userInfo_f3939d .wrapper_c51b4e {
    opacity: var(--FG-cards-avatar-opacity-normal);
    transition: var(--FG-transition);
}

.peopleColumn_c2739c .peopleListItem_d51464:hover .userInfo_f3939d .wrapper_c51b4e {
    opacity: var(--FG-cards-avatar-opacity-hover);
    transition: var(--FG-transition);
}

.peopleListItem_d51464.active_d51464 .userInfo_f3939d .wrapper_c51b4e {
    opacity: var(--FG-cards-avatar-opacity-active) !important;
    transition: var(--FG-transition);
}

.peopleColumn_c2739c .content_eed6a8 div[aria-hidden="true"] {
    display: none;
}

.peopleColumn_c2739c .userInfo_f3939d {
    display: grid;
    grid-template-columns: 64px 80%;
}

.peopleColumn_c2739c .userInfo_f3939d .wrapper_c51b4e {
    display: block;
    margin-left: 15px !important;
    margin-top: 15px !important;
    transform: scale(2.3);
    border-radius: 0px !important;
}

.peopleColumn_c2739c .text_f3939d .discordTag_f3939d {
    flex-grow: 0.6;
}

.peopleColumn_c2739c .wrapper_c51b4e img {
    border-radius: 0px !important;
    clip-path: none !important;
    -webkit-clip-path: none !important;
}

#app-mount .peopleColumn_c2739c .wrapper_c51b4e rect,
.peopleColumn_c2739c .avatar_f3939d::before {
    display: none;
}
