/*Fixes*/

.peopleColumn__51df3 .userInfo__18240 .wrapper_edb6e0 {
    opacity: var(--FG-cards-avatar-opacity-normal);
    transition: var(--FG-transition);
}

.peopleColumn__51df3 .peopleListItem_d14722:hover .userInfo__18240 .wrapper_edb6e0 {
    opacity: var(--FG-cards-avatar-opacity-hover);
    transition: var(--FG-transition);
}

.peopleListItem_d14722.active__6b8ff .userInfo__18240 .wrapper_edb6e0 {
    opacity: var(--FG-cards-avatar-opacity-active) !important;
    transition: var(--FG-transition);
}

.peopleColumn__51df3 .content__23cab div[aria-hidden="true"] {
    display: none;
}

.peopleColumn__51df3 .userInfo__18240 {
    display: grid;
    grid-template-columns: 64px 80%;
}

.peopleColumn__51df3 .userInfo__18240 .wrapper_edb6e0 {
    display: block;
    margin-left: 15px !important;
    margin-top: 15px !important;
    transform: scale(2.3);
    border-radius: 0px !important;
}

.peopleColumn__51df3 .text__923ee .discordTag_e6cb79 {
    flex-grow: 0.6;
}

.peopleColumn__51df3 .wrapper_edb6e0 img {
    border-radius: 0px !important;
    clip-path: none !important;
    -webkit-clip-path: none !important;
}

#app-mount .peopleColumn__51df3 .wrapper_edb6e0 rect,
.peopleColumn__51df3 .avatar__8986c::before {
    display: none;
}
