/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Discord Add-on                                                                                                     ║ */
/* ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ Theme:                   ║ CreArts                                                                                 ║ */
/* ║ Author:                  ║ CorellanStoma#1996                                                                      ║ */
/* ║ Support:                 ║ https://discord.gg/8W8E39Z                                                              ║ */
/* ╠══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║                                                                                                                    ║ */
/* ║ Friends-Grid adds a grid view to the friends list.                                                                 ║ */
/* ║                                                                                                                    ║ */
/* ║ This Project was created by CorellanStoma#1996.                                                                    ║ */
/* ║                                                                                                                    ║ */
/* ╠════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║                                                                                                                    ║ */
/* ║ This project has been modified by Sappy#8123/Slddev to work with SpotiCord.                                        ║ */
/* ║                                                                                                                    ║ */
/* ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝ */

/*fallback variables*/
:root {
    --FA-version: "v1.0.10 (SpotiCord Version)";

    --FG-row: 1fr 1fr 1fr;

    --FG-search-radius: 8px;

    --FG-cards-radius: 8px;
    --FG-cards-height: 180px;
    --FG-cards-banner-background: var(--brand-experiment);
    --FG-cards-margin-bottom: 26px;
    --FG-cards-banner-height: 20px;
    --FG-cards-border-width: 1px;

    --FG-avatar-margin-top: 46px;
    --FG-avatar-margin-left: 20px;
    --FG-text-margin-left: 20px;

    --FG-cards-banner-opacity-normal: 1;
    --FG-cards-banner-opacity-hover: 1;
    --FG-cards-banner-opacity-active: 1;

    --FG-cards-avatar-opacity-normal: 1;
    --FG-cards-avatar-opacity-hover: 1;
    --FG-cards-avatar-opacity-active: 1;

    --FG-cards-username-opacity-normal: 1;
    --FG-cards-username-opacity-hover: 1;
    --FG-cards-username-opacity-active: 1;

    --FG-cards-discriminator-opacity-normal: 1;
    --FG-cards-discriminator-opacity-hover: 1;
    --FG-cards-discriminator-opacity-active: 1;

    --FG-cards-status-opacity-normal: 1;
    --FG-cards-status-opacity-hover: 1;
    --FG-cards-status-opacity-active: 1;

    --FG-cards-button-opacity-normal: 0;
    --FG-cards-button-opacity-hover: 1;
    --FG-cards-button-opacity-active: 0;

    --FG-mutal-guilds-normal: 0;
    --FG-mutal-guilds-hover: 1;
    --FG-mutal-guilds-active: 1;

    --FG-avatar-shape: 50%;

    --FG-transition: all 0.4s ease;

    --user-accent-color: var(--FG-cards-banner-background);
}

.theme-dark {
    --FG-search-background: var(--background-tertiary);

    --FG-cards-background-normal: var(--background-secondary);
    --FG-cards-background-hover: var(--activity-card-background);

    --FG-cards-background-active: var(--activity-card-background);

    --FG-cards-border-color-normal: var(--background-modifier-accent);
    --FG-cards-border-color-hover: var(--background-modifier-accent);

    --FG-cards-username-normal: var(--header-primary);
    --FG-cards-username-hover: var(--header-primary);
    --FG-cards-discriminator-normal: var(--header-secondary);
    --FG-cards-discriminator-hover: var(--header-secondary);
    --FG-cards-status-normal: var(--header-secondary);
    --FG-cards-status-hover: var(--header-secondary);

    --FG-cards-button-icon-normal: var(--interactive-active);
    --FG-cards-button-icon-hover: var(--activity-card-background);
    --FG-cards-button-background-normal: rgba(0, 0, 0, 0.3);
    --FG-cards-button-background-hover: rgba(0, 0, 0, 0.6);
}

.theme-light {
    --FG-search-background: var(--background-tertiary);

    --FG-cards-background-normal: var(--background-secondary);
    --FG-cards-background-hover: var(--activity-card-background);

    --FG-cards-background-active: var(--activity-card-background);

    --FG-cards-border-color-normal: var(--background-modifier-accent);
    --FG-cards-border-color-hover: var(--background-modifier-accent);

    --FG-cards-username-normal: var(--header-primary);
    --FG-cards-username-hover: var(--header-primary);
    --FG-cards-discriminator-normal: var(--header-secondary);
    --FG-cards-discriminator-hover: var(--header-secondary);
    --FG-cards-status-normal: var(--header-secondary);
    --FG-cards-status-hover: var(--header-secondary);

    --FG-cards-button-icon-normal: var(--interactive-active);
    --FG-cards-button-icon-hover: var(--activity-card-background);
    --FG-cards-button-background-normal: rgba(255, 255, 255, 0.3);
    --FG-cards-button-background-hover: rgba(255, 255, 255, 0.6);
}

/*source.css*/
.peopleColumn__51df3 .title_dc625c {
    position: relative;
    top: -66px;
    left: 0px;
    font-weight: 700;
    font-family: var(--font-display);
    color: var(--header-primary);
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    margin-left: 0px;
}
.peopleColumn__51df3 .searchBar_ff8800 {
    position: relative;
    background: var(--FG-search-background);
    z-index: 9;
    margin: 0px;
    width: 100%;
    border-radius: var(--FG-search-radius);
    top: 24px;
}
.peopleColumn__51df3 .peopleList__2379e > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 12px;
    row-gap: 12px;
}
.peopleColumn__51df3 .peopleList__2379e .content-2a4AW9 [style="height: 0px;"] {
    display: none;
}
.peopleColumn__51df3 {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.peopleColumn__51df3 .scrollerBase-_bVAAt {
    overflow: visible !important;
}
.peopleColumn__51df3 {
    display: block;
    overflow: hidden scroll;
}
.peopleColumn__51df3::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
.peopleColumn__51df3::-webkit-scrollbar-corner {
    background-color: transparent;
}
.peopleColumn__51df3::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-auto-thumb);
    min-height: 40px;
}
.peopleColumn__51df3::-webkit-scrollbar-thumb,
.peopleColumn__51df3::-webkit-scrollbar-track {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: var(--FG-cards-radius);
}
.peopleColumn__51df3::-webkit-scrollbar-thumb,
.peopleColumn__51df3::-webkit-scrollbar-track {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: var(--FG-cards-radius);
}
.peopleColumn__51df3::-webkit-scrollbar-track {
    background-color: var(--scrollbar-auto-track);
}
.info-1sUqUG .size12-oc4dx4:last-child::after {
    content: "\a" "Friends-Grid " var(--FA-version) !important;
    text-transform: none;
    white-space: pre;
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
}
@media screen and (min-width: 0px) and (max-width: 6000px) {
    .peopleColumn__51df3 .peopleList__2379e > div {
        height: auto !important;
        margin-right: 60vw;
    }
}
@media screen and (min-width: 0px) and (max-width: 5000px) {
    .peopleColumn__51df3 .peopleList__2379e > div {
        height: auto !important;
        margin-right: 50vw;
    }
}
@media screen and (min-width: 0px) and (max-width: 4000px) {
    .peopleColumn__51df3 .peopleList__2379e > div {
        height: auto !important;
        margin-right: 40vw;
    }
}
@media screen and (min-width: 0px) and (max-width: 3000px) {
    .peopleColumn__51df3 .peopleList__2379e > div {
        height: auto !important;
        margin-right: 30vw;
    }
}
@media screen and (min-width: 0px) and (max-width: 2600px) {
    .peopleColumn__51df3 .peopleList__2379e > div {
        height: auto !important;
        margin-right: 0vw;
    }
}
@media screen and (min-width: 0px) and (max-width: 2000px) {
    .peopleColumn__51df3 .peopleList__2379e > div {
        grid-template-columns: var(--FG-row);
        height: auto !important;
    }
}
@media screen and (min-width: 0px) and (max-width: 1600px) {
    .peopleColumn__51df3 .peopleList__2379e > div {
        grid-template-columns: 1fr 1fr;
        height: auto !important;
    }
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
    .peopleColumn__51df3 .peopleList__2379e > div {
        grid-template-columns: 1fr;
        height: auto !important;
    }
}
.peopleColumn__51df3 .avatar__8986c.wrapper-1VLyxH {
    transform: scale(1.8);
    margin-left: calc(16px + var(--FG-avatar-margin-left));
    margin-top: calc(var(--FG-avatar-margin-top) + var(--FG-cards-banner-height));
}
.peopleColumn__51df3 .avatar__8986c::before {
    content: "";
    position: fixed;
    width: 116%;
    height: 116%;
    left: -8%;
    top: -8%;
}
.peopleColumn__51df3 .avatar__8986c::before {
    background: var(--FG-cards-background-normal);
    border-radius: var(--rs-avatar-shape, var(--FG-avatar-shape));
    transition: var(--FG-transition);
}
.peopleColumn__51df3 .peopleListItem_d14722:hover .avatar__8986c::before {
    background: var(--FG-cards-background-hover);
    transition: var(--FG-transition);
}
.peopleColumn__51df3 .peopleListItem_d14722.active__6b8ff .avatar__8986c::before {
    opacity: var(--FG-cards-avatar-opacity-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__51df3 .avatar__8986c.wrapper-1VLyxH {
    opacity: var(--FG-cards-avatar-opacity-normal);
    transition: var(--FG-transition);
}
.peopleColumn__51df3 .peopleListItem_d14722:hover .avatar__8986c.wrapper-1VLyxH {
    opacity: var(--FG-cards-avatar-opacity-hover);
    transition: var(--FG-transition);
}
.peopleListItem_d14722.active__6b8ff .avatar__8986c.wrapper-1VLyxH {
    opacity: var(--FG-cards-avatar-opacity-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__51df3 .peopleListItem_d14722:hover .userInfo__18240::before {
    opacity: var(--FG-cards-banner-opacity-hover);
    transition: var(--FG-transition);
}
.peopleColumn__51df3 .peopleListItem_d14722.active__6b8ff .userInfo__18240::before {
    opacity: var(--FG-cards-banner-opacity-active);
    transition: var(--FG-transition);
}
.peopleColumn__51df3#online-tab .actions_c08157 {
    position: relative;
    transform: scale(0.72);
    margin-left: 2px !important;
    bottom: 95%;
    margin-right: -2px;
    height: 0px;
    min-height: 0px;
    max-height: 0px;
    margin-top: unset;
}
.peopleColumn__51df3#all-tab .actions_c08157 {
    position: relative;
    transform: scale(0.72);
    margin-left: 2px !important;
    bottom: 95%;
    margin-right: -2px;
    height: 0px;
    min-height: 0px;
    max-height: 0px;
    margin-top: unset;
}
.peopleColumn__51df3#pending-tab .actions_ab1cd3 {
    position: absolute;
    transform: scale(0.72);
    margin-left: 2px !important;
    bottom: unset;
    margin-right: -2px;
    height: 0px;
    min-height: 0px;
    max-height: 0px;
    margin-top: 10px;
}
.peopleColumn__51df3#blocked-tab .actionDeny_d304eb {
    position: absolute;
    transform: scale(1);
    margin-left: 2px !important;
    bottom: unset;
    margin-right: -2px;
    height: 0px;
    min-height: 0px;
    max-height: 0px;
    margin-top: 10px;
}
.peopleColumn__51df3#favorized_friends-tab .actions_c08157 {
    position: relative;
    transform: scale(0.72);
    margin-left: 2px !important;
    bottom: 95%;
    margin-right: -2px;
    height: 0px;
    min-height: 0px;
    max-height: 0px;
    margin-top: unset;
}
.peopleColumn__51df3#hidden_friends-tab .actions_c08157 {
    position: relative;
    transform: scale(0.72);
    margin-left: 2px !important;
    bottom: 95%;
    margin-right: -2px;
    height: 0px;
    min-height: 0px;
    max-height: 0px;
    margin-top: unset;
}
.peopleColumn__51df3#online-tab .actionButton__23182 {
    background: var(--FG-cards-button-background-normal);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-normal);
    transition: var(--FG-transition);
}
.peopleColumn__51df3#all-tab .actionButton__23182 {
    background: var(--FG-cards-button-background-normal);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-normal);
    transition: var(--FG-transition);
}
.peopleColumn__51df3#pending-tab .actionButton__23182 {
    background: var(--FG-cards-button-background-normal);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-normal);
    transition: var(--FG-transition);
}
.peopleColumn__51df3#blocked-tab .actionButton__23182 {
    background: var(--FG-cards-button-background-normal);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-normal);
    transition: var(--FG-transition);
}
.peopleColumn__51df3#favorized_friends-tab .actionButton__23182 {
    background: var(--FG-cards-button-background-normal);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-normal);
    transition: var(--FG-transition);
}
.peopleColumn__51df3#hidden_friends-tab .actionButton__23182 {
    background: var(--FG-cards-button-background-normal);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-normal);
    transition: var(--FG-transition);
}
.peopleColumn__51df3#online-tab .peopleListItem_d14722:hover .actionButton__23182 {
    background: var(--FG-cards-button-background-hover);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-hover);
    transition: var(--FG-transition);
}
.peopleColumn__51df3#all-tab .peopleListItem_d14722:hover .actionButton__23182 {
    background: var(--FG-cards-button-background-hover);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-hover);
    transition: var(--FG-transition);
}
.peopleColumn__51df3#pending-tab .peopleListItem_d14722:hover .actionButton__23182 {
    background: var(--FG-cards-button-background-hover);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-hover);
    transition: var(--FG-transition);
}
.peopleColumn__51df3#blocked-tab .peopleListItem_d14722:hover .actionButton__23182 {
    background: var(--FG-cards-button-background-hover);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-hover);
    transition: var(--FG-transition);
}
.peopleColumn__51df3#favorized_friends-tab .peopleListItem_d14722:hover .actionButton__23182 {
    background: var(--FG-cards-button-background-hover);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-hover);
    transition: var(--FG-transition);
}
.peopleColumn__51df3#hidden_friends-tab .peopleListItem_d14722:hover .actionButton__23182 {
    background: var(--FG-cards-button-background-hover);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-hover);
    transition: var(--FG-transition);
}
.peopleColumn__51df3#online-tab .peopleListItem_d14722.active__6b8ff .actionButton__23182 {
    opacity: var(--FG-cards-button-opacity-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__51df3#all-tab .peopleListItem_d14722.active__6b8ff .actionButton__23182 {
    opacity: var(--FG-cards-button-opacity-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__51df3#pending-tab .peopleListItem_d14722.active__6b8ff .actionButton__23182 {
    opacity: var(--FG-cards-button-opacity-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__51df3#blocked-tab .peopleListItem_d14722.active__6b8ff .actionButton__23182 {
    opacity: var(--FG-cards-button-opacity-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__51df3#favorized_friends-tab
    .peopleListItem_d14722.active__6b8ff
    .actionButton__23182 {
    opacity: var(--FG-cards-button-opacity-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__51df3#hidden_friends-tab .peopleListItem_d14722.active__6b8ff .actionButton__23182 {
    opacity: var(--FG-cards-button-opacity-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__51df3#online-tab .actionButton__23182:hover {
    background: var(--FG-cards-button-icon-hover) !important;
    color: var(--FG-cards-button-icon-hover);
}
.peopleColumn__51df3#all-tab .actionButton__23182:hover {
    background: var(--FG-cards-button-icon-hover) !important;
    color: var(--FG-cards-button-icon-hover);
}
.peopleColumn__51df3#pending-tab .actionButton__23182:hover {
    background: var(--FG-cards-button-icon-hover) !important;
    color: var(--FG-cards-button-icon-hover);
}
.peopleColumn__51df3#blocked-tab .actionButton__23182:hover {
    background: var(--FG-cards-button-icon-hover) !important;
    color: var(--FG-cards-button-icon-hover);
}
.peopleColumn__51df3#favorized_friends-tab .actionButton__23182:hover {
    background: var(--FG-cards-button-icon-hover) !important;
    color: var(--FG-cards-button-icon-hover);
}
.peopleColumn__51df3#hidden_friends-tab .actionButton__23182:hover {
    background: var(--FG-cards-button-icon-hover) !important;
    color: var(--FG-cards-button-icon-hover);
}
.actionButton__23182 {
    margin-left: 9px;
}
.peopleColumn__51df3#blocked-tab .actionDeny_d304eb {
    height: 26px !important;
    width: 26px !important;
    min-height: unset !important;
    max-height: unset !important;
    margin-right: 10px;
}
.peopleColumn__51df3#blocked-tab .actionDeny_d304eb .icon__7215c {
    height: 14px !important;
    width: 14px !important;
}
.peopleColumn__51df3 .listItemContents__9efb3,
.peopleColumn__51df3 .listItemContents_a04d75,
.peopleColumn__51df3 .listItemContents__7c940 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.peopleColumn__51df3 .peopleListItem_d14722 {
    background: hsla(0, 0%, 100%, 0.1);
    border: var(--FG-cards-border-width) solid var(--FG-cards-border-color-normal);
    border-radius: var(--FG-cards-radius) !important;
    height: 64px !important;
    margin: 0px;
    padding: 0px;
    transition: all 0.3s ease;
}
.peopleColumn__51df3 .peopleListItem_d14722:hover {
    background: hsla(0, 0%, 100%, 0.2);
    border: var(--FG-cards-border-width) solid var(--FG-cards-border-color-hover);
    transition: var(--FG-transition);
}
.peopleColumn__51df3 .peopleListItem_d14722.active__6b8ff {
    background: var(--FG-cards-background-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__51df3 .userInfo__18240 {
    transform: scale(1);
    width: 100%;
    height: 100%;
}
.peopleColumn__51df3#pending-tab .userInfo__18240 {
    flex: auto 0 0;
}
.peopleColumn__51df3 .text__923ee {
    position: static;
    width: 80% !important;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
}
.peopleColumn__51df3 .text__923ee {
    margin-left: 16px;
}
.peopleColumn__51df3 .username__81ee6 {
    color: var(--FG-cards-username-normal);
    opacity: var(--FG-cards-username-opacity-normal);
    transition: var(--FG-transition);
}
.peopleColumn__51df3 .peopleListItem_d14722:hover .username__81ee6 {
    color: var(--FG-cards-username-hover);
    opacity: var(--FG-cards-username-opacity-hover);
    transition: var(--FG-transition);
}
.peopleListItem_d14722.active__6b8ff .username__81ee6 {
    opacity: var(--FG-cards-username-opacity-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__51df3 .discriminator_aef524 {
    color: var(--FG-cards-discriminator-normal);
    opacity: var(--FG-cards-discriminator-opacity-normal);
    visibility: visible;
    margin-left: 2px;
    font-size: 20px;
    line-height: 22px;
    transition: var(--FG-transition);
}
.peopleColumn__51df3 .peopleListItem_d14722:hover .discriminator_aef524 {
    color: var(--FG-cards-discriminator-hover);
    opacity: var(--FG-cards-discriminator-opacity-hover);
    transition: var(--FG-transition);
}
.peopleListItem_d14722.active__6b8ff .discriminator_aef524 {
    opacity: var(--FG-cards-discriminator-opacity-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__51df3 .subtext__1a662 {
    color: var(--FG-cards-status-normal);
    opacity: var(--FG-cards-status-opacity-normal);
    transition: var(--FG-transition);
}
.peopleColumn__51df3 .peopleListItem_d14722:hover .subtext__1a662 {
    color: var(--FG-cards-status-hover);
    opacity: var(--FG-cards-status-opacity-hover);
    transition: var(--FG-transition);
}
.peopleListItem_d14722.active__6b8ff .subtext__1a662 {
    opacity: var(--FG-cards-status-opacity-active) !important;
    transition: var(--FG-transition);
}
