/**
 * @name SpotiCord
 * @author Sappy#8123
 * @authorId 741262207391629343
 * @version AutoUpdating
 * @description Light-weight Spotify theme for Discord
 * @source https://github.com/Slddev/SpotiCord
*/

@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");

/*SpotiCord Vars*/
:root {
    --sc-gradient-color: #1ed760;
}

/*Friends-Grid*/
:root {
    --FA-version: "v1.0.10 (SpotiCord Version)";

    --FG-row: 1fr 1fr 1fr;

    --FG-search-radius: 8px;

    --FG-cards-radius: 8px;
    --FG-cards-height: 180px;
    --FG-cards-banner-background: var(--brand-experiment);
    --FG-cards-margin-bottom: 26px;
    --FG-cards-banner-height: 20px;
    --FG-cards-border-width: 1px;

    --FG-avatar-margin-top: 46px;
    --FG-avatar-margin-left: 20px;
    --FG-text-margin-left: 20px;

    --FG-cards-banner-opacity-normal: 1;
    --FG-cards-banner-opacity-hover: 1;
    --FG-cards-banner-opacity-active: 1;

    --FG-cards-avatar-opacity-normal: 1;
    --FG-cards-avatar-opacity-hover: 1;
    --FG-cards-avatar-opacity-active: 1;

    --FG-cards-username-opacity-normal: 1;
    --FG-cards-username-opacity-hover: 1;
    --FG-cards-username-opacity-active: 1;

    --FG-cards-discriminator-opacity-normal: 1;
    --FG-cards-discriminator-opacity-hover: 1;
    --FG-cards-discriminator-opacity-active: 1;

    --FG-cards-status-opacity-normal: 1;
    --FG-cards-status-opacity-hover: 1;
    --FG-cards-status-opacity-active: 1;

    --FG-cards-button-opacity-normal: 0;
    --FG-cards-button-opacity-hover: 1;
    --FG-cards-button-opacity-active: 0;

    --FG-mutal-guilds-normal: 0;
    --FG-mutal-guilds-hover: 1;
    --FG-mutal-guilds-active: 1;

    --FG-avatar-shape: 50%;

    --FG-transition: all 0.4s ease;

    --user-accent-color: var(--FG-cards-banner-background);
}

.theme-dark {
    --FG-search-background: var(--background-tertiary);

    --FG-cards-background-normal: var(--background-secondary);
    --FG-cards-background-hover: var(--activity-card-background);

    --FG-cards-background-active: var(--activity-card-background);

    --FG-cards-border-color-normal: var(--background-modifier-accent);
    --FG-cards-border-color-hover: var(--background-modifier-accent);

    --FG-cards-username-normal: var(--header-primary);
    --FG-cards-username-hover: var(--header-primary);
    --FG-cards-discriminator-normal: var(--header-secondary);
    --FG-cards-discriminator-hover: var(--header-secondary);
    --FG-cards-status-normal: var(--header-secondary);
    --FG-cards-status-hover: var(--header-secondary);

    --FG-cards-button-icon-normal: var(--interactive-active);
    --FG-cards-button-icon-hover: var(--activity-card-background);
    --FG-cards-button-background-normal: rgba(0, 0, 0, 0.3);
    --FG-cards-button-background-hover: rgba(0, 0, 0, 0.6);
}

.theme-light {
    --FG-search-background: var(--background-tertiary);

    --FG-cards-background-normal: var(--background-secondary);
    --FG-cards-background-hover: var(--activity-card-background);

    --FG-cards-background-active: var(--activity-card-background);

    --FG-cards-border-color-normal: var(--background-modifier-accent);
    --FG-cards-border-color-hover: var(--background-modifier-accent);

    --FG-cards-username-normal: var(--header-primary);
    --FG-cards-username-hover: var(--header-primary);
    --FG-cards-discriminator-normal: var(--header-secondary);
    --FG-cards-discriminator-hover: var(--header-secondary);
    --FG-cards-status-normal: var(--header-secondary);
    --FG-cards-status-hover: var(--header-secondary);

    --FG-cards-button-icon-normal: var(--interactive-active);
    --FG-cards-button-icon-hover: var(--activity-card-background);
    --FG-cards-button-background-normal: rgba(255, 255, 255, 0.3);
    --FG-cards-button-background-hover: rgba(255, 255, 255, 0.6);
}

/*RadialStatus*/
:root {
    --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
    --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
    --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

    --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
    --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
    --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

    --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

    --rs-online-color: #43b581; /* Colour for online status */
    --rs-idle-color: #faa61a; /* Colour for idle status */
    --rs-dnd-color: #f04747; /* Colour for dnd status */
    --rs-offline-color: #636b75; /* Colour for offline status */
    --rs-streaming-color: #643da7; /* Colour for streaming status */
    --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
    --rs-phone-color: var(
        --rs-online-color
    ); /* Colour of the ring and phone icon when a user is on their phone |  */

    --rs-phone-visible: none; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
}

/*ANCHOR - boot.css*/
/*Version System*/
:root {
    --theme-version: "0.5.8b ";
}

[id^="SpotiCord"] .bd-addon-header .bd-version:before {
    content: "v" var(--theme-version);
}

.info__755e1:after {
    content: "SpotiCord - " var(--theme-version);
    top: 16px;
    color: var(--text-muted);
    position: relative;
}

[id^="SpotiCord"] .bd-addon-header .bd-version {
    font-size: 0;
}

[id^="SpotiCord"] .bd-addon-header .bd-version:before {
    font-size: 14px;
}

.bd-switch input:checked + .bd-switch-body {
    --switch-color: var(--background-accent);
}

.wordmarkWindows_ffbc5e:after {
    content: "SpotiCord " var(--theme-version) " by Slddev";
    color: var(--text-muted);
    font-size: 12px;
    padding-left: 10px;
    position: relative;
    bottom: 4px;
}

/*ANCHOR - main.css*/
.theme-dark {
    --text-normal: #f4f4f4;
    --background-primary: #121212;
    --background-secondary: #181818;
    --background-secondary-alt: #282828;
    --background-tertiary: #000;
    --background-floating: #282828;
    --background-accent: #1ed760;
    --channeltextarea-background: #242424;
    --input-background: #242424;
    --interactive-normal: #b3b3b3;
    --interactive-hover: #fff;
    --deprecated-quickswitcher-input-background: #313131;
    --background-modifier-selected: hsla(0, 0%, 100%, 0.1);
    --background-modifier-hover: hsla(0, 0%, 100%, 0.2);
    --background-modifier-active: hsla(0, 0%, 100%, 0.2);
    --modal-background: #121212;
    --modal-footer-background: #121212;
    --home-background: #121212;
    --channel-icon: #b3b3b3;
}

/*Ditch Light Theme*/
.theme-light {
    --header-primary: #fff;
    --header-secondary: #f4f4f4;
    --text-normal: #f4f4f4;
    --background-primary: #121212;
    --background-secondary: #181818;
    --background-secondary-alt: #282828;
    --background-tertiary: #000;
    --background-floating: #282828;
    --background-accent: #1ed760;
    --channeltextarea-background: #242424;
    --input-background: #242424;
    --deprecated-quickswitcher-input-background: #313131;
    --interactive-normal: #b3b3b3;
    --interactive-hover: #fff;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-modifier-selected: hsla(0, 0%, 100%, 0.1);
    --background-modifier-hover: hsla(0, 0%, 100%, 0.2);
    --background-modifier-active: hsla(0, 0%, 100%, 0.2);
    --modal-background: #121212;
    --modal-footer-background: #121212;
    --home-background: #121212;
    --channel-icon: #b3b3b3;
}

/*ANCHOR - Home*/
/*Colors*/
.tabBody_a90ea8 {
    border-radius: 8px;
}

.container_bd15da {
    background: linear-gradient(180deg, var(--sc-gradient-color), transparent 25%);
    border-radius: 8px;
}

.peopleColumn__0c784 {
    background: transparent;
}

.nowPlayingColumn_b025fe,
.nowPlayingColumn_b025fe .container__3673d {
    border-radius: 8px;
}

.theme-dark .root_a28985 {
    background: var(--background-floating);
}

.privateChannels__9b518,
.scroller__89969 {
    background: var(--background-primary) !important;
}

.interactive__0786a {
    border-radius: 6px;
}

.interactive__0786a:hover {
    background: #1a1a1a;
}

.interactive__0786a:active {
    background: hsla(0, 0%, 100%, 0.1);
}

/*ANCHOR - Plugin*/
/*Voltage Spotify Controls*/
.vt-spotify-player {
    margin-top: -20px;
    background: var(--background-secondary) !important;
}

.vt-spotify-progress-time {
    top: 5px !important;
}

/*Voltage Theme Text-area*/
.vt-textarea {
    display: block !important;
    color: var(--text-normal) !important;
}

/*Vencord Theme Text-area*/
.textarea__0461c[placeholder="Theme Links"] {
    color: var(--text-normal);
}

/*Vencord Spotify Controls*/
#vc-spotify-player {
    margin-top: -20px;
    background: var(--background-secondary) !important;
}

.vc-spotify-progress-time {
    top: 5px !important;
}

/*Spotify Modal*/
.spotify-modal {
    background: var(--background-primary);
    bottom: 15px;
    padding: 2px;
}

.spotify-modal > .main {
    width: 100%;
}

/*Discord Controls*/
.container-6sXIoE {
    margin-top: 18px;
    margin-bottom: 10px;
}

/*ANCHOR - Popouts*/
/*Colors*/
.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background-color: var(--background-accent);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background-color: var(--background-accent);
}

.theme-dark .footer_e0b400 {
    background-color: var(--background-secondary);
}

/*Fixes*/
.textarea__0461c[aria-label="Note"] {
    display: unset;
    color: var(--text-normal);
}

/*ANCHOR - ProfileCards*/
/*Fixes*/

.peopleColumn__0c784 .userInfo__83819 .wrapper__3ed10 {
    opacity: var(--FG-cards-avatar-opacity-normal);
    transition: var(--FG-transition);
}

.peopleColumn__0c784 .peopleListItem_dab480:hover .userInfo__83819 .wrapper__3ed10 {
    opacity: var(--FG-cards-avatar-opacity-hover);
    transition: var(--FG-transition);
}

.peopleListItem_dab480.active__6b8ff .userInfo__83819 .wrapper__3ed10 {
    opacity: var(--FG-cards-avatar-opacity-active) !important;
    transition: var(--FG-transition);
}

.peopleColumn__0c784 .content__690c5 div[aria-hidden="true"] {
    display: none;
}

.peopleColumn__0c784 .userInfo__83819 {
    display: grid;
    grid-template-columns: 64px 80%;
}

.peopleColumn__0c784 .userInfo__83819 .wrapper__3ed10 {
    display: block;
    margin-left: 15px !important;
    margin-top: 15px !important;
    transform: scale(2.3);
    border-radius: 0px !important;
}

.peopleColumn__0c784 .text__88bbd .discordTag__19e87 {
    flex-grow: 0.6;
}

.peopleColumn__0c784 .wrapper__3ed10 img {
    border-radius: 0px !important;
    clip-path: none !important;
    -webkit-clip-path: none !important;
}

#app-mount .peopleColumn__0c784 .wrapper__3ed10 rect,
.peopleColumn__0c784 .avatar__8986c::before {
    display: none;
}

/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Discord Add-on                                                                                                     ║ */
/* ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ Theme:                   ║ CreArts                                                                                 ║ */
/* ║ Author:                  ║ CorellanStoma#1996                                                                      ║ */
/* ║ Support:                 ║ https://discord.gg/8W8E39Z                                                              ║ */
/* ╠══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║                                                                                                                    ║ */
/* ║ Friends-Grid adds a grid view to the friends list.                                                                 ║ */
/* ║                                                                                                                    ║ */
/* ║ This Project was created by CorellanStoma#1996.                                                                    ║ */
/* ║                                                                                                                    ║ */
/* ╠════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║                                                                                                                    ║ */
/* ║ This project has been modified by Sappy#8123/Slddev to work with SpotiCord.                                        ║ */
/* ║                                                                                                                    ║ */
/* ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝ */

/*fallback variables*/
:root {
    --FA-version: "v1.0.10 (SpotiCord Version)";

    --FG-row: 1fr 1fr 1fr;

    --FG-search-radius: 8px;

    --FG-cards-radius: 8px;
    --FG-cards-height: 180px;
    --FG-cards-banner-background: var(--brand-experiment);
    --FG-cards-margin-bottom: 26px;
    --FG-cards-banner-height: 20px;
    --FG-cards-border-width: 1px;

    --FG-avatar-margin-top: 46px;
    --FG-avatar-margin-left: 20px;
    --FG-text-margin-left: 20px;

    --FG-cards-banner-opacity-normal: 1;
    --FG-cards-banner-opacity-hover: 1;
    --FG-cards-banner-opacity-active: 1;

    --FG-cards-avatar-opacity-normal: 1;
    --FG-cards-avatar-opacity-hover: 1;
    --FG-cards-avatar-opacity-active: 1;

    --FG-cards-username-opacity-normal: 1;
    --FG-cards-username-opacity-hover: 1;
    --FG-cards-username-opacity-active: 1;

    --FG-cards-discriminator-opacity-normal: 1;
    --FG-cards-discriminator-opacity-hover: 1;
    --FG-cards-discriminator-opacity-active: 1;

    --FG-cards-status-opacity-normal: 1;
    --FG-cards-status-opacity-hover: 1;
    --FG-cards-status-opacity-active: 1;

    --FG-cards-button-opacity-normal: 0;
    --FG-cards-button-opacity-hover: 1;
    --FG-cards-button-opacity-active: 0;

    --FG-mutal-guilds-normal: 0;
    --FG-mutal-guilds-hover: 1;
    --FG-mutal-guilds-active: 1;

    --FG-avatar-shape: 50%;

    --FG-transition: all 0.4s ease;

    --user-accent-color: var(--FG-cards-banner-background);
}

.theme-dark {
    --FG-search-background: var(--background-tertiary);

    --FG-cards-background-normal: var(--background-secondary);
    --FG-cards-background-hover: var(--activity-card-background);

    --FG-cards-background-active: var(--activity-card-background);

    --FG-cards-border-color-normal: var(--background-modifier-accent);
    --FG-cards-border-color-hover: var(--background-modifier-accent);

    --FG-cards-username-normal: var(--header-primary);
    --FG-cards-username-hover: var(--header-primary);
    --FG-cards-discriminator-normal: var(--header-secondary);
    --FG-cards-discriminator-hover: var(--header-secondary);
    --FG-cards-status-normal: var(--header-secondary);
    --FG-cards-status-hover: var(--header-secondary);

    --FG-cards-button-icon-normal: var(--interactive-active);
    --FG-cards-button-icon-hover: var(--activity-card-background);
    --FG-cards-button-background-normal: rgba(0, 0, 0, 0.3);
    --FG-cards-button-background-hover: rgba(0, 0, 0, 0.6);
}

.theme-light {
    --FG-search-background: var(--background-tertiary);

    --FG-cards-background-normal: var(--background-secondary);
    --FG-cards-background-hover: var(--activity-card-background);

    --FG-cards-background-active: var(--activity-card-background);

    --FG-cards-border-color-normal: var(--background-modifier-accent);
    --FG-cards-border-color-hover: var(--background-modifier-accent);

    --FG-cards-username-normal: var(--header-primary);
    --FG-cards-username-hover: var(--header-primary);
    --FG-cards-discriminator-normal: var(--header-secondary);
    --FG-cards-discriminator-hover: var(--header-secondary);
    --FG-cards-status-normal: var(--header-secondary);
    --FG-cards-status-hover: var(--header-secondary);

    --FG-cards-button-icon-normal: var(--interactive-active);
    --FG-cards-button-icon-hover: var(--activity-card-background);
    --FG-cards-button-background-normal: rgba(255, 255, 255, 0.3);
    --FG-cards-button-background-hover: rgba(255, 255, 255, 0.6);
}

/*source.css*/
.peopleColumn__0c784 .title_c42cad {
    position: relative;
    top: -66px;
    left: 0px;
    font-weight: 700;
    font-family: var(--font-display);
    color: var(--header-primary);
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    margin-left: 0px;
}
.peopleColumn__0c784 .searchBar__310d8 {
    position: relative;
    background: var(--FG-search-background);
    z-index: 9;
    margin: 0px;
    width: 100%;
    border-radius: var(--FG-search-radius);
    top: 24px;
}
.peopleColumn__0c784 .peopleList_d2f527 > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 12px;
    row-gap: 12px;
}
.peopleColumn__0c784 .peopleList_d2f527 .content-2a4AW9 [style="height: 0px;"] {
    display: none;
}
.peopleColumn__0c784 {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.peopleColumn__0c784 .scrollerBase-_bVAAt {
    overflow: visible !important;
}
.peopleColumn__0c784 {
    display: block;
    overflow: hidden scroll;
}
.peopleColumn__0c784::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
.peopleColumn__0c784::-webkit-scrollbar-corner {
    background-color: transparent;
}
.peopleColumn__0c784::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-auto-thumb);
    min-height: 40px;
}
.peopleColumn__0c784::-webkit-scrollbar-thumb,
.peopleColumn__0c784::-webkit-scrollbar-track {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: var(--FG-cards-radius);
}
.peopleColumn__0c784::-webkit-scrollbar-thumb,
.peopleColumn__0c784::-webkit-scrollbar-track {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: var(--FG-cards-radius);
}
.peopleColumn__0c784::-webkit-scrollbar-track {
    background-color: var(--scrollbar-auto-track);
}
.info-1sUqUG .size12-oc4dx4:last-child::after {
    content: "\a" "Friends-Grid " var(--FA-version) !important;
    text-transform: none;
    white-space: pre;
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
}
@media screen and (min-width: 0px) and (max-width: 6000px) {
    .peopleColumn__0c784 .peopleList_d2f527 > div {
        height: auto !important;
        margin-right: 60vw;
    }
}
@media screen and (min-width: 0px) and (max-width: 5000px) {
    .peopleColumn__0c784 .peopleList_d2f527 > div {
        height: auto !important;
        margin-right: 50vw;
    }
}
@media screen and (min-width: 0px) and (max-width: 4000px) {
    .peopleColumn__0c784 .peopleList_d2f527 > div {
        height: auto !important;
        margin-right: 40vw;
    }
}
@media screen and (min-width: 0px) and (max-width: 3000px) {
    .peopleColumn__0c784 .peopleList_d2f527 > div {
        height: auto !important;
        margin-right: 30vw;
    }
}
@media screen and (min-width: 0px) and (max-width: 2600px) {
    .peopleColumn__0c784 .peopleList_d2f527 > div {
        height: auto !important;
        margin-right: 0vw;
    }
}
@media screen and (min-width: 0px) and (max-width: 2000px) {
    .peopleColumn__0c784 .peopleList_d2f527 > div {
        grid-template-columns: var(--FG-row);
        height: auto !important;
    }
}
@media screen and (min-width: 0px) and (max-width: 1600px) {
    .peopleColumn__0c784 .peopleList_d2f527 > div {
        grid-template-columns: 1fr 1fr;
        height: auto !important;
    }
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
    .peopleColumn__0c784 .peopleList_d2f527 > div {
        grid-template-columns: 1fr;
        height: auto !important;
    }
}
.peopleColumn__0c784 .avatar__8986c.wrapper-1VLyxH {
    transform: scale(1.8);
    margin-left: calc(16px + var(--FG-avatar-margin-left));
    margin-top: calc(var(--FG-avatar-margin-top) + var(--FG-cards-banner-height));
}
.peopleColumn__0c784 .avatar__8986c::before {
    content: "";
    position: fixed;
    width: 116%;
    height: 116%;
    left: -8%;
    top: -8%;
}
.peopleColumn__0c784 .avatar__8986c::before {
    background: var(--FG-cards-background-normal);
    border-radius: var(--rs-avatar-shape, var(--FG-avatar-shape));
    transition: var(--FG-transition);
}
.peopleColumn__0c784 .peopleListItem_dab480:hover .avatar__8986c::before {
    background: var(--FG-cards-background-hover);
    transition: var(--FG-transition);
}
.peopleColumn__0c784 .peopleListItem_dab480.active__6b8ff .avatar__8986c::before {
    opacity: var(--FG-cards-avatar-opacity-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__0c784 .avatar__8986c.wrapper-1VLyxH {
    opacity: var(--FG-cards-avatar-opacity-normal);
    transition: var(--FG-transition);
}
.peopleColumn__0c784 .peopleListItem_dab480:hover .avatar__8986c.wrapper-1VLyxH {
    opacity: var(--FG-cards-avatar-opacity-hover);
    transition: var(--FG-transition);
}
.peopleListItem_dab480.active__6b8ff .avatar__8986c.wrapper-1VLyxH {
    opacity: var(--FG-cards-avatar-opacity-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__0c784 .peopleListItem_dab480:hover .userInfo__83819::before {
    opacity: var(--FG-cards-banner-opacity-hover);
    transition: var(--FG-transition);
}
.peopleColumn__0c784 .peopleListItem_dab480.active__6b8ff .userInfo__83819::before {
    opacity: var(--FG-cards-banner-opacity-active);
    transition: var(--FG-transition);
}
.peopleColumn__0c784#online-tab .actions_bd37ed {
    position: relative;
    transform: scale(0.72);
    margin-left: 2px !important;
    bottom: 95%;
    margin-right: -2px;
    height: 0px;
    min-height: 0px;
    max-height: 0px;
    margin-top: unset;
}
.peopleColumn__0c784#all-tab .actions_bd37ed {
    position: relative;
    transform: scale(0.72);
    margin-left: 2px !important;
    bottom: 95%;
    margin-right: -2px;
    height: 0px;
    min-height: 0px;
    max-height: 0px;
    margin-top: unset;
}
.peopleColumn__0c784#pending-tab .actions__6ae9f {
    position: absolute;
    transform: scale(0.72);
    margin-left: 2px !important;
    bottom: unset;
    margin-right: -2px;
    height: 0px;
    min-height: 0px;
    max-height: 0px;
    margin-top: 10px;
}
.peopleColumn__0c784#blocked-tab .actionDeny__3ce98 {
    position: absolute;
    transform: scale(1);
    margin-left: 2px !important;
    bottom: unset;
    margin-right: -2px;
    height: 0px;
    min-height: 0px;
    max-height: 0px;
    margin-top: 10px;
}
.peopleColumn__0c784#favorized_friends-tab .actions_bd37ed {
    position: relative;
    transform: scale(0.72);
    margin-left: 2px !important;
    bottom: 95%;
    margin-right: -2px;
    height: 0px;
    min-height: 0px;
    max-height: 0px;
    margin-top: unset;
}
.peopleColumn__0c784#hidden_friends-tab .actions_bd37ed {
    position: relative;
    transform: scale(0.72);
    margin-left: 2px !important;
    bottom: 95%;
    margin-right: -2px;
    height: 0px;
    min-height: 0px;
    max-height: 0px;
    margin-top: unset;
}
.peopleColumn__0c784#online-tab .actionButton__2b4bb {
    background: var(--FG-cards-button-background-normal);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-normal);
    transition: var(--FG-transition);
}
.peopleColumn__0c784#all-tab .actionButton__2b4bb {
    background: var(--FG-cards-button-background-normal);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-normal);
    transition: var(--FG-transition);
}
.peopleColumn__0c784#pending-tab .actionButton__2b4bb {
    background: var(--FG-cards-button-background-normal);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-normal);
    transition: var(--FG-transition);
}
.peopleColumn__0c784#blocked-tab .actionButton__2b4bb {
    background: var(--FG-cards-button-background-normal);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-normal);
    transition: var(--FG-transition);
}
.peopleColumn__0c784#favorized_friends-tab .actionButton__2b4bb {
    background: var(--FG-cards-button-background-normal);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-normal);
    transition: var(--FG-transition);
}
.peopleColumn__0c784#hidden_friends-tab .actionButton__2b4bb {
    background: var(--FG-cards-button-background-normal);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-normal);
    transition: var(--FG-transition);
}
.peopleColumn__0c784#online-tab .peopleListItem_dab480:hover .actionButton__2b4bb {
    background: var(--FG-cards-button-background-hover);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-hover);
    transition: var(--FG-transition);
}
.peopleColumn__0c784#all-tab .peopleListItem_dab480:hover .actionButton__2b4bb {
    background: var(--FG-cards-button-background-hover);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-hover);
    transition: var(--FG-transition);
}
.peopleColumn__0c784#pending-tab .peopleListItem_dab480:hover .actionButton__2b4bb {
    background: var(--FG-cards-button-background-hover);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-hover);
    transition: var(--FG-transition);
}
.peopleColumn__0c784#blocked-tab .peopleListItem_dab480:hover .actionButton__2b4bb {
    background: var(--FG-cards-button-background-hover);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-hover);
    transition: var(--FG-transition);
}
.peopleColumn__0c784#favorized_friends-tab .peopleListItem_dab480:hover .actionButton__2b4bb {
    background: var(--FG-cards-button-background-hover);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-hover);
    transition: var(--FG-transition);
}
.peopleColumn__0c784#hidden_friends-tab .peopleListItem_dab480:hover .actionButton__2b4bb {
    background: var(--FG-cards-button-background-hover);
    color: var(--FG-cards-button-icon-normal);
    opacity: var(--FG-cards-button-opacity-hover);
    transition: var(--FG-transition);
}
.peopleColumn__0c784#online-tab .peopleListItem_dab480.active__6b8ff .actionButton__2b4bb {
    opacity: var(--FG-cards-button-opacity-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__0c784#all-tab .peopleListItem_dab480.active__6b8ff .actionButton__2b4bb {
    opacity: var(--FG-cards-button-opacity-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__0c784#pending-tab .peopleListItem_dab480.active__6b8ff .actionButton__2b4bb {
    opacity: var(--FG-cards-button-opacity-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__0c784#blocked-tab .peopleListItem_dab480.active__6b8ff .actionButton__2b4bb {
    opacity: var(--FG-cards-button-opacity-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__0c784#favorized_friends-tab
    .peopleListItem_dab480.active__6b8ff
    .actionButton__2b4bb {
    opacity: var(--FG-cards-button-opacity-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__0c784#hidden_friends-tab .peopleListItem_dab480.active__6b8ff .actionButton__2b4bb {
    opacity: var(--FG-cards-button-opacity-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__0c784#online-tab .actionButton__2b4bb:hover {
    background: var(--FG-cards-button-icon-hover) !important;
    color: var(--FG-cards-button-icon-hover);
}
.peopleColumn__0c784#all-tab .actionButton__2b4bb:hover {
    background: var(--FG-cards-button-icon-hover) !important;
    color: var(--FG-cards-button-icon-hover);
}
.peopleColumn__0c784#pending-tab .actionButton__2b4bb:hover {
    background: var(--FG-cards-button-icon-hover) !important;
    color: var(--FG-cards-button-icon-hover);
}
.peopleColumn__0c784#blocked-tab .actionButton__2b4bb:hover {
    background: var(--FG-cards-button-icon-hover) !important;
    color: var(--FG-cards-button-icon-hover);
}
.peopleColumn__0c784#favorized_friends-tab .actionButton__2b4bb:hover {
    background: var(--FG-cards-button-icon-hover) !important;
    color: var(--FG-cards-button-icon-hover);
}
.peopleColumn__0c784#hidden_friends-tab .actionButton__2b4bb:hover {
    background: var(--FG-cards-button-icon-hover) !important;
    color: var(--FG-cards-button-icon-hover);
}
.actionButton__2b4bb {
    margin-left: 9px;
}
.peopleColumn__0c784#blocked-tab .actionDeny__3ce98 {
    height: 26px !important;
    width: 26px !important;
    min-height: unset !important;
    max-height: unset !important;
    margin-right: 10px;
}
.peopleColumn__0c784#blocked-tab .actionDeny__3ce98 .icon__4ee3f {
    height: 14px !important;
    width: 14px !important;
}
.peopleColumn__0c784 .listItemContents_c8a1c1,
.peopleColumn__0c784 .listItemContents_b18e9d,
.peopleColumn__0c784 .listItemContents_e97b28 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.peopleColumn__0c784 .peopleListItem_dab480 {
    background: hsla(0, 0%, 100%, 0.1);
    border: var(--FG-cards-border-width) solid var(--FG-cards-border-color-normal);
    border-radius: var(--FG-cards-radius) !important;
    height: 64px !important;
    margin: 0px;
    padding: 0px;
    transition: all 0.3s ease;
}
.peopleColumn__0c784 .peopleListItem_dab480:hover {
    background: hsla(0, 0%, 100%, 0.2);
    border: var(--FG-cards-border-width) solid var(--FG-cards-border-color-hover);
    transition: var(--FG-transition);
}
.peopleColumn__0c784 .peopleListItem_dab480.active__6b8ff {
    background: var(--FG-cards-background-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__0c784 .userInfo__83819 {
    transform: scale(1);
    width: 100%;
    height: 100%;
}
.peopleColumn__0c784#pending-tab .userInfo__83819 {
    flex: auto 0 0;
}
.peopleColumn__0c784 .text__88bbd {
    position: static;
    width: 80% !important;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
}
.peopleColumn__0c784 .text__88bbd {
    margin-left: 16px;
}
.peopleColumn__0c784 .username__267df {
    color: var(--FG-cards-username-normal);
    opacity: var(--FG-cards-username-opacity-normal);
    transition: var(--FG-transition);
}
.peopleColumn__0c784 .peopleListItem_dab480:hover .username__267df {
    color: var(--FG-cards-username-hover);
    opacity: var(--FG-cards-username-opacity-hover);
    transition: var(--FG-transition);
}
.peopleListItem_dab480.active__6b8ff .username__267df {
    opacity: var(--FG-cards-username-opacity-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__0c784 .discriminator__463fe {
    color: var(--FG-cards-discriminator-normal);
    opacity: var(--FG-cards-discriminator-opacity-normal);
    visibility: visible;
    margin-left: 2px;
    font-size: 20px;
    line-height: 22px;
    transition: var(--FG-transition);
}
.peopleColumn__0c784 .peopleListItem_dab480:hover .discriminator__463fe {
    color: var(--FG-cards-discriminator-hover);
    opacity: var(--FG-cards-discriminator-opacity-hover);
    transition: var(--FG-transition);
}
.peopleListItem_dab480.active__6b8ff .discriminator__463fe {
    opacity: var(--FG-cards-discriminator-opacity-active) !important;
    transition: var(--FG-transition);
}
.peopleColumn__0c784 .subtext__72c72 {
    color: var(--FG-cards-status-normal);
    opacity: var(--FG-cards-status-opacity-normal);
    transition: var(--FG-transition);
}
.peopleColumn__0c784 .peopleListItem_dab480:hover .subtext__72c72 {
    color: var(--FG-cards-status-hover);
    opacity: var(--FG-cards-status-opacity-hover);
    transition: var(--FG-transition);
}
.peopleListItem_dab480.active__6b8ff .subtext__72c72 {
    opacity: var(--FG-cards-status-opacity-active) !important;
    transition: var(--FG-transition);
}

/*ANCHOR - Serverlist*/
/*Channel List*/
.scroller__1f498,
.scroller__89969 {
    padding-bottom: 50px;
}

/*Misc*/
.folderIconWrapper__11165 {
    border-radius: 8px;
}

/*ANCHOR - UI*/
/*User Info*/
.panels__58331 {
    background-color: #181818;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 90px;
    border-radius: 0px;
    border-top: 1px solid #282828;
    z-index: 99;
    overflow: hidden scroll;
    padding-right: 5px;
}

.panels__58331::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.panels__58331::-webkit-scrollbar-corner {
    background-color: tranparent;
}

.panels__58331::-webkit-scrollbar-thumb,
.panels__58331::-webkit-scrollbar-track {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 8px;
}

.panels__58331 > .container_debb33 {
    z-index: 99;
    position: absolute;
    top: 5px;
    height: 35px;
    width: 225px;
    right: 5px;
    border-radius: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px;
    color: #fff !important;
}

.panels__58331 > .container_debb33 > .nameTag__77ab2 > .size12-oc4dx4 > .hoverRoll__3ea9e {
    display: none;
}

.panels__58331 > .container_debb33 > .nameTag__77ab2 > .subtext_ce73b4 {
    display: none;
}

.panels__58331:before {
    content: "No Song Playing...";
    font-size: 14px;
    text-align: center;
    color: #fff;
    padding: 0px 56px;
    position: relative;
    top: 45%;
    z-index: -1;
}

/*Call Buttons*/
.panels__58331 > .wrapper_e832ee > .container_e1958d {
    margin-top: -14px;
    background-color: #181818;
}

/*Channel List*/
.sidebar_e031be,
.container__7e23c {
    background: var(--background-primary) !important;
}

.wrapper__612a5:hover .wrapper__612a5 {
    background: #1a1a1a;
}

.wrapper__612a5:active .wrapper__612a5 {
    background: var(--background-primary);
}

.wrapper__612a5 {
    border-radius: 6px;
}

/*Chat Area*/
.chat__52833 {
    background: linear-gradient(180deg, var(--sc-gradient-color), var(--background-primary) 15%);
    border-radius: 8px;
}

.themed_b152d4,
.chatContent_f087cb {
    background: transparent !important;
}

.children_cde9af:after {
    display: none;
}

/*Members*/
.membersWrap__5ca6b {
    height: 100%;
}

.members__573eb {
    height: 90.15%;
    background: var(--background-primary);
    border-bottom: 1px #282828 solid;
}

.content__01e65 > .membersWrap__5ca6b {
    background: var(--background-secondary);
}

/*Activity Area*/
.activityPanel_b73e7a {
    position: fixed;
    bottom: 90px;
    background-color: #181818;
    width: 225px;
}

/*Text Area*/
.button_dd99ad[disabled] > .innerButton__9efb8 > .buttonChild_eaf65e,
.buttonChild_eaf65e {
    color: var(--interactive-normal);
}

.theme-dark .button_dd99ad:focus-within .activeButtonChild__58171,
.theme-dark .button_dd99ad:focus .activeButtonChild__58171,
.theme-dark .button_dd99ad:hover .activeButtonChild__58171 {
    color: var(--background-accent);
}

.base__06abc {
    bottom: 2px;
}

.form_d8a4a1 {
    background-color: #181818;
    min-height: 90px;
    border-top: 1px solid #282828;
    margin: 0;
}

.scrollableContainer_ff917f {
    border-radius: 23px;
}

.textAreaSlate__8578d {
    height: 44px !important;
}

.channelTextArea_c2094b {
    top: 20px;
    background-color: var(--channeltextarea-background);
    border-radius: 500px !important;
}

.wrapper__57349 {
    margin-top: 14px;
}

.attachedBars_c1606a {
    margin-top: -45px;
    margin-bottom: 25px;
    height: 20px;
}

.attachButtonInner__84c26 path {
    fill: var(--background-accent);
}

.attachButton__56f98:hover .attachButtonPlus_fd0021 {
    fill: #323232;
}

.button__437ce:hover,
.active_a5045e .buttonWrapper_bd4bd7,
.buttonWrapper_bd4bd7:hover {
    color: #323232;
}

.button_ae40a4.enabled__214db:hover {
    border-radius: 32px;
}

.replyBar_ed6afc,
.threadSuggestionBar__717a3,
.attachedBars_c1606a {
    background: var(--channeltextarea-background);
}

.replyBar_ed6afc {
    margin-top: 0;
}

.actions__7157e {
    height: 40px;
}

.theme-dark .autocomplete__743a5 {
    background-color: var(--background-secondary);
}

.theme-dark .form_d8a4a1:before {
    background: linear-gradient(180deg, rgba(54, 57, 63, 0) 0, #181818);
}

.inlineCode__0cacf,
.optionPill__618f2 {
    color: #fff;
}

/*Header*/
.toolbar__62fb5 {
    margin-right: 240px;
}

.title_d4ba1a {
    z-index: 1;
}

/*Search*/
.theme-dark .container__84c26 {
    background-color: var(--background-floating);
}

.option__91497 {
    width: 311.5px;
}

.option__91497:hover {
    width: 280px;
}

/*   Tiny Search-bar   */
.toolbar__62fb5 .search__07df0 {
    order: -1;
}

.toolbar__62fb5 .search__07df0 .iconContainer__9f124 {
    bottom: 4px;
}

.toolbar__62fb5 .search__07df0 .iconContainer__9f124 .icon__5c8c7 {
    transition: all 0.6s ease;
}

.toolbar__62fb5 .search__07df0 .search_ac353c:not(.open_d3ab4e) .searchBar__5a20a {
    width: 28px;
    transition: all 0.6s ease-in-out;
    background: none;
}

.toolbar__62fb5 .search__07df0 .search_ac353c:not(.open_d3ab4e) .searchBar__5a20a .icon__5c8c7 {
    color: var(--interactive-normal);
    height: 23px;
    width: 23px;
    margin-top: 1.76px;
}

.toolbar__62fb5 .search__07df0 .search_ac353c.open_d3ab4e .searchBar__5a20a {
    width: 240px;
    background: var(--background-tertiary);
    transition: all 0.6s ease-in-out;
}

.toolbar__62fb5 .search__07df0 .search_ac353c.open_d3ab4e .searchBar__5a20a .icon__5c8c7 {
    height: 16px;
    width: 16px;
    top: 4px;
}

.iconLayout__9d9a4 {
    cursor: pointer;
}

/*Create A Server and Public Servers*/
.lookBlank_a5b4ca {
    color: #fff;
}

/*Settings*/
.sidebarRegion__36437 {
    flex: 0;
}

.contentColumnDefault__78de3,
.contentColumnWide__146ec {
    margin: 0 auto;
}

.accountProfileCard__744d8 {
    max-width: none;
}

.notificationSettings-1U0JsJ {
    max-width: 45%;
}

.theme-dark .paymentPane__541d7,
.theme-dark .paginator__28ba5,
.theme-dark .payment_f27ac6,
.theme-dark .codeRedemptionRedirect-3SBiCp {
    background-color: var(--background-secondary);
}

.bioTextArea_f46f71 {
    background-color: var(--channeltextarea-background);
}
