
.theme-light .root-g14mjS, .theme-light .footer-31IekZ, .theme-dark .pageWrapper-2PwDoS{
  background: #121212;
}

.theme-dark .root-g14mjS {
  background-color: var(--background-floating);
}

.peopleColumn-1wMU14 {
  background-color: var(--background-tertiary);
}

.bd-switch input:checked+.bd-switch-body {
  --switch-color: var(--background-accent);
}

.button-y6hemj[disabled]>.innerButton-1aF_E_>.buttonChild-33lB5F, .buttonChild-33lB5F {
  color: var(--interactive-normal);
}

.theme-dark .button-y6hemj:focus-within .activeButtonChild-2hgLAO, .theme-dark .button-y6hemj:focus .activeButtonChild-2hgLAO, .theme-dark .button-y6hemj:hover .activeButtonChild-2hgLAO {
  color: var(--background-accent);
}

.theme-dark .container-2McqkF {
  background-color: var(--background-floating);
}