.theme-dark {
  --text-normal: #f4f4f4;
  --background-primary: #121212;
  --background-secondary: #000000;
  --background-secondary-alt: #181818;
  --background-tertiary: #181818;
  --background-floating: #282828;
  --background-accent: #1db954;
  --channeltextarea-background: #313131;
  --deprecated-quickswitcher-input-background: #313131;
}

/*Ditch Light Theme*/
.theme-light {
  --header-primary: #fff;
  --header-secondary: #f4f4f4;
  --text-normal: #f4f4f4;
  --background-primary: #121212;
  --background-secondary: #000000;
  --background-secondary-alt: #181818;
  --background-tertiary: #181818;
  --background-floating: #282828;
  --background-accent: #1db954;
  --channeltextarea-background: #313131;
  --deprecated-quickswitcher-input-background: #313131;
}